:root {
    --accent: #00ffb7;
    --accent-lt: #88fbde;
    --accent_dk: #016b36;

}

body {
    background: var(--accent-lt);
    color: var(--accent-dk);
    font-family: fantasy;
}

h1 {
    color: var(--accent);
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 0px white;
}

p{
    background: blue;
    font-weight: bold;
    padding: 10px;
    border:2px solid black; 
}

footer{
    background: var(--accent-dk);
    color:white;
    text-align: center;
    font-size: 0.8rpm;
}